.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

settings/external/com.katalon.katalon-studio-slack-plugin.properties
settings/external/*.properties

Profiles/default.glbl